$white: #fff;
$light-blue: #f2feff;
$blue: #92e1f1;
$grey-blue: #306f8a;
$grey: #767f8d;
$light-grey: #a3b9d0;
$max-width: 800px;
$spacing-xs: 2px;
$spacing-sm: 4px;
$spacing-md: 8px;
$spacing-lg: 16px;
$spacing-xl: 32px;
$shadow: 2px 2px 3px rgba(0, 0, 0, 0.12);
